@import "../variables.styl"

f-toc($theme)
  a
    & ,&:link ,&:visited ,&:active
      color: $theme.text


theme(f-toc, 'f-toc')

.f-toc
  sans-serif()
  $padding(a, 1)
  *
    white-space nowrap
    text-overflow ellipsis
    overflow hidden
    $margin(b, 3)
    cursor pointer
    font-weight normal
    &:hover
      text-decoration underline
    &:not(h1, .f-hl)
      opacity 0.8
  .f-hl
    $padding(y, 1)
    $margin(l, 2)
  a
    display block
    *
      $margin(y,0)
    h1
      font-size: 16px
    h2
      font-size: 14px
      padding-left:8px
    h3
      font-size: 14px
      padding-left:12px
    h4
      font-size: 13px
      padding-left:16px
    h5
      font-size: 13px
      padding-left:20px
    h6
      font-size: 12px
      padding-left:24px